{% extends './layout.html' %}
{% block content %}

<h1>Here are all the regions</h1>

<form action = '/region/add' method = 'POST'>
	<label for = 'name_field'> Add a new region </label>
	<input name = 'newregion' type = 'text'/>
	<input type = 'submit' value = 'submit new region'/>
</form>

<ul>
	{% for region in regions %}
	<li>
		{{region.zipcode}}
		<form action = '/region/deleteregion/{{region.id}}?_method=DELETE' method='POST'>
			<button type = 'submit'> delete this region!</button>
		</form>
		<ul>
			{% for salesperson in region.salespeople %}
			<li>
				{%if salesperson.toremove%}
				<mark>{{salesperson.name}}</mark>
				<form action = '/salesperson/salesPersonRegions/{{salesperson.id}}/remove/{{region.id}}?back=region&_method=PUT' method = 'POST'>
					<button type = 'submit'> remove </button>
				</form>
				{% else %}
				{{salesperson.name}}
				<form action = '/salesperson/salesPersonRegions/{{salesperson.id}}/add/{{region.id}}?back=region&_method=PUT' method = 'POST'>
					<button type = 'submit'> add </button>
				</form>
				{% endif %}

			</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>