{% extends './layout.html' %}
{% block content %}

<h1>Here are all the salesperons</h1>

<form action = '/salesperson/add' method = 'POST'>
	<label for = 'name_field'> Add a new salesperson </label>
	<input name = 'newperson' type = 'text'/>
	<input type = 'submit' value = 'submit new salesperson'/>
</form>

<ul>
	{% for salesperson in salespersons %}
	<li>
		{{salesperson.name}}
		<form action = '/salesperson/deleteperson/{{salesperson.id}}?_method=DELETE' method='POST'>
			<button type = 'submit'> delete this guy!</button>
		</form>
		<ul>
			{% for region in salesperson.locations %}
			<li>
				{%if region.toremove%}
				<mark>{{region.zipcode}}</mark>
				<form action = '/salesperson/salesPersonRegions/{{salesperson.id}}/remove/{{region.id}}?back=sales&_method=PUT' method = 'POST'>
					<button type = 'submit'> remove </button>
				</form>
				{% else %}
				{{region.zipcode}}
				<form action = '/salesperson/salesPersonRegions/{{salesperson.id}}/add/{{region.id}}?back=sales&_method=PUT' method = 'POST'>
					<button type = 'submit'> add </button>
				</form>
				{% endif %}

			</li>
			{% endfor %}
		</ul>
	</li>
	{% endfor %}
</ul>